! special
*.foreground:   #a9b1d6
*.background:   #1a1b26
*.cursorColor:  #a9b1d6

! black
*.color0:       #24283b
*.color8:       #414868

! red
*.color1:       #f7768e
*.color9:       #fb8a92

! green
*.color2:       #9ece6a
*.color10:      #aee392

! yellow
*.color3:       #e0af68
*.color11:      #e4c28f

! blue
*.color4:       #7aa2f7
*.color12:      #7dcfff

! magenta
*.color5:       #bb9af7
*.color13:      #ceb8f6

! cyan
*.color6:       #73daca
*.color14:      #b4f9f8

! white
*.color7:       #565f89
*.color15:      #c0caf5

! Xterm
XTerm.termName: xterm-256color
XTerm.vt100.utf8: true
XTerm.vt100.faceName: JetBrains Mono:size=14:antialias=true
XTerm.vt100.metaSendsEscape: true

xterm*decTerminalID: vt340
xterm*numColorRegisters: 256
xterm*sixelScrolling: 1
xterm*sixelScrollsRight: 1


! URXVT
URxvt.internalBorder: 24
URxvt.font: xft:JetBrains Mono:style=Regular:size=14:antialias=true
URxvt.blodFont: xft:JetBrains Mono:style=Bold:size=14:antialias=true
URxvt.italicFont: xft:JetBrains Mono:style=Italic:size=14:antialias=true
URxvt.boldItalicFont: xft:JetBrains Mono:style=Bold Italic:size=14:antialias=true
URxvt.scrollBar: false
