! special
*.foreground:   #a9b1d6
*.background:   #1a1b26
*.cursorColor:  #a9b1d6

! black
*.color0:       #24283b
*.color8:       #414868

! red
*.color1:       #f7768e
*.color9:       #fb8a92

! green
*.color2:       #9ece6a
*.color10:      #aee392

! yellow
*.color3:       #e0af68
*.color11:      #e4c28f

! blue
*.color4:       #7aa2f7
*.color12:      #7dcfff

! magenta
*.color5:       #bb9af7
*.color13:      #ceb8f6

! cyan
*.color6:       #73daca
*.color14:      #b4f9f8

! white
*.color7:       #565f89
*.color15:      #c0caf5
