[Unit]
Description="Service to display currently playing song on song change for mpd"

[Service]
Type=simple
ExecStart=/bin/sh /home/kenzie/.dotfiles/mpd-notify.sh
StandardOutput=journal

[Install]
WantedBy=default.target
