.queue-tabBar-active {
    color: var(--spice-main);
}

.main-playButton-PlayButton.main-playButton-primary {
    color: var(--spice-main);
}

.main-addButton-active {
    color: var(--spice-heart) !important;
}

.main-trackList-active .main-trackList-rowMarker {
    /*filter: invert(61%) sepia(89%) saturate(921%) hue-rotate(208deg) brightness(102%) contrast(94%);*/
    /*filter: invert(89%) sepia(52%) saturate(488%) hue-rotate(28deg) brightness(87%) contrast(83%);*/
    filter: invert(93%) sepia(14%) saturate(1071%) hue-rotate(42deg) brightness(95%) contrast(86%);
}

.main-trackList-active .main-trackList-rowMarker * {
    filter: brightness(0);
}
